# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
build
cache
coverage
dist
node_modules
types
deployments
kms-fhe-keys/
network-fhe-keys/
fhevmTemp/
abi/
.venv/
*.egg-info/
*.tenseal
__pycache__/
typechain-types/

# files
*.env
*.log
.env.docker
.DS_Store
.pnp.*
coverage.json
package-lock.json
*.lock

res/
running_node/

docker-compose/docker-compose-full.yml
*.hex
fhe-keys/
rust-fhe/target/

# Artifacts
artifacts/@openzeppelin/
artifacts/@chainlink/
artifacts/build-info/
artifacts/lib/
artifacts/fhevm/
artifacts/@fhevm/
artifacts/hardhat/

!artifacts/contracts/**/*.json
artifacts/contracts/**/*.dbg.json